Options -MultiViews
RewriteEngine On
RewriteBase /panda_jp_demo/

# Set correct MIME types
AddType application/javascript .js
AddType text/css .css

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite everything else to index.html to allow SPA routing
RewriteRule ^ index.html [L]
